# Obtain from https://deepinfra.com/dash/api_keys
DEEPINFRA_API_KEY=
DEEPINFRA_MODEL=meta-llama/Llama-3.2-90B-Vision-Instruct
CORS_ORIGIN=http://localhost:3000
OCR_FIELD_MIN_CONFIDENCE=0.60
EXTRACT_FIELD_MIN_CONFIDENCE=0.55
